.sfondo {
    background-image: url("../img/pattern.png");
    background-color: cornflowerblue;
    background-position: center; 
    background-size: contain;
    height: 150px;
}
.logo {
    width: 150px;
    margin-top: 90px;
}
